// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Poppins:400,700&display=swap|Lobster:400,700');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

// Define fonts for body and headers
$body-font: "Poppins", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";
$login-header-font: "Lobster", "monospace";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
