<div class="container mt-5 pt-3">
  <h1><strong>Favorites</strong></h1>
  <% @favorites.each do |f| %>
    <div class="d-flex justify-content-between mt-5 my-4 card">
      <%= link_to university_path(f.university) do %>
        <%= image_tag("logo.png", class: "uni-card-image logoo title") %>
        <%= f.university.name %>
      <% end %>
    </div>
  <% end %>
</div>
