<<<<<<< HEAD
<div class="container mt-5 pt-3">
  <h1><strong>Favorites</strong></h1>
  <% @favorites.each do |f| %>
    <div class="d-flex justify-content-between mt-5 my-4 card">
      <%= link_to university_path(f.university) do %>
        <%= image_tag("logo.png", class: "uni-card-image logoo title") %>
        <%= f.university.name %>
      <% end %>
    </div>
  <% end %>
=======
<h1> My Favorites </h1>
<div class="container mt-5">
  <div class="row">
    <% @favorites.each do |f| %>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 my-4 px-3">
        <%= link_to "Favorites", universities_path %>
      </div>
    <% end %>
  </div>
>>>>>>> d2fe948 (backend for fav works)
</div>
