<div class="container mt-5 pt-3">
<div class="row justify-content-center">
  <h1 class="text-center"><strong>Favorites</strong></h1>
  <div class="col-lg-8">
  <% @favorites.each do |f| %>
    <div class="card">
      <%= link_to university_path(f.university) do %>
        <%= image_tag(f.university.logo, class: "uni-card-image logoo") %>
        <%= f.university.name %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
