@import "../components/circle_ratings";
@import "components/price_ratings";

.title-block {
  position: sticky;
  top: 67px;
  z-index: 99;
  background: white;
  margin-bottom: 10px;
}

#university-img {
  height: 250px;
  overflow: hidden;
}

.accordian {
  border: black;
}

.main-body-container {
  margin: 10px;
  position: relative;
}

.side-nav-menu {
  width: 150px;
  position: fixed;
  top: 350px;
  left: 85px;
  font-size: 18px;
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.side-nav-menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #2196F3;
  display: block;
}

.side-nav-menu a:hover {
  color: #064579;
}

.body-content {
  top: 70px;
  position: relative;
}

.stats-grid {
  display: grid;
  row-gap: 10px;
}

.stats-elements {
  text-align: center;
  margin: auto;
}

@media (max-width: 1400px) {
  .side-nav-menu {
    display: none;
  }

  .nav-bar-spacer {
    display: none;
  }
}
