
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= image %>)">
        <p>#<%= chatroom.name %></p>
      </div>
    </div>
    <div class="flip-card-back d-flex align-items-center justify-content-center p-3 px-4">
      <h5><strong><%= chatroom.description %></strong></h5>
    </div>
  </div>
</div>
