
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image %>)">
        <p>#<%= chatroom.name %></p>
      </div>
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
