
<div class="banner">
  <header class="header">
    <div class="banner-sizing "></div>
    <div class="banner-content">
      <h1>Uni-Review</h1>
      <p>Select your next .</p>
      <div class="row mt-4 home-form" data-controller="autocomplete">
        <%= form_with url: home_search_path, method: :get, html: { class: "d-flex home-search", data: {autocomplete_target: "form"} } do |f|%>
          <%= f.text_field :query,
            value: params[:query],
            data: {
                autocomplete_target: "input",
                action: "keyup->autocomplete#update focus->autocomplete#update blur->autocomplete#clear"},
            class: "form-control",
            placeholder: "Enter University name or Country"
          %>
          <%= submit_tag "Search", class: "btn" %>
        <% end %>
        <div data-autocomplete-target="list">

        </div>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <div class="row justify-content-center">

    <div class="col-lg-10 col-md-11 col-sm-12 mt-5 mb-5">
      <div class="card home-card">
        <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12">
            <img src="https://u-paris.fr/wp-content/uploads/2020/12/2017-NUS-Signage-1-1.jpg" alt="" class="home-img">
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6 text-align-center home-info" style="padding: 1.5rem; margin: auto;">
            <h2>Universities in Singapore</h2>
            <p>Singapore’s universities and colleges rank as the best in Asia, and among top 20 in the world. Find out more about universities in Singapore.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10 col-md-11 col-sm-12 mb-5">
      <div class="card home-card">
        <div class="row justify-content-end">
          <div class="col-lg-5 col-md-6 col-sm-6 home-info" style="padding: 1.5rem; margin: auto;">
            <h2>Universities in Austrialia</h2>
            <p>Australia has 37 government-funded universities and three private universities, as well as a number of other specialist institutions that provide approved courses at the higher education level. Learn more about Austrialian Universities.</p>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-12">
            <img src="https://www.anao.gov.au/sites/default/files/anao_report/image/anu-governance-control-frameworks-anao.jpg" alt="" class="home-img">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10 col-md-11 col-sm-12 mb-5">
      <div class="card home-card">
        <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12">
            <img src="https://theacademicinsights.com/wp-content/uploads/2020/07/imej_5ccfe917a8b765ccfef83b7420-740x357.jpg" alt="" class="home-img">
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6 text-align-center home-info" style="padding: 1.5rem; margin: auto;">
            <h2>Universities in Malaysia</h2>
            <p>Malaysia as you know it, is home to one of the most affordable student cities in the world. This is why the number of international students in Malaysia are growing tremenduously.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="footer">
  <div class="footer-content">
    <h5><strong>Uni-Review</strong></h5>
    <p>
      Uni-Review<br>
      ABCD Building<br>
      Singapore 123 456<br>
      📞 +65 8765 4321
    </p>

    <div class="footer-links">
      <a href="#"><i class="fab fa-github footer-icon"></i></a>
      <a href="#"><i class="fab fa-instagram footer-icon"></i></a>
      <a href="#"><i class="fab fa-facebook footer-icon"></i></a>
      <a href="#"><i class="fab fa-twitter footer-icon"></i></a>
      <a href="#"><i class="fab fa-linkedin footer-icon"></i></a>
    </div>

    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart pt-4"></i> at Le Wagon
    </div>
  </div>
</div>
