<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="footer footer-home">
  <div class="footer-content">
    <h5><strong>Uni-Review</strong></h5>
    <p>
      Uni-Review<br>
      ABCD Building<br>
      Singapore 123 456<br>
      📞 +65 8765 4321
    </p>

    <div class="footer-links">
      <a href="#"><i class="fab fa-github footer-icon"></i></a>
      <a href="#"><i class="fab fa-instagram footer-icon"></i></a>
      <a href="#"><i class="fab fa-facebook footer-icon"></i></a>
      <a href="#"><i class="fab fa-twitter footer-icon"></i></a>
      <a href="#"><i class="fab fa-linkedin footer-icon"></i></a>
    </div>

    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart footer-heart pt-4"></i> at Le Wagon
    </div>
  </div>
</div>
