
.banner{
  clear: both;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.header {
  height: 650px;
}

.image {
  height: 650px;
  width: 100%;
  opacity: .5;
}

.banner-sizing {
  padding-top: 33%;
}
.banner-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 12%;
}

.banner-content:before {
  content: ' ';
  display: block;
  height: 40%;
}

.banner-content h1,
.banner-content p {
  margin-top: 0px;
  margin-bottom: 6px;
  opacity: 1;
  color: black;
  font-family: 'Lato', sans-serif;
}

.banner-content h1 {
  font-size: 4rem !important;
}

.banner-content p {
  font-size: 1.5rem !important;
}

.banner .home-form {
  margin-left: 25%;
  width: 50%;
}

.list {
  text-align: left;
  list-style: none;
  font-size: 16px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
}

.list:hover{
  background-color: rgb(236, 241, 242);
}

.animated {
  animation-duration: .5s;
}
