.form-btn input{
  background-color: #2F8F9D;
  color: white;
  width: 100%;

}

.form-btn input:hover{
  background-color: white;
  color: #2F8F9D;
}

.save-btn {
  width: 48%;
  display: block;
  color: rgb(255, 255, 255) !important;
  background-color: #2F8F9D !important;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #2F8F9D !important;
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    background-color: white !important;
    color: #2F8F9D !important;
    border: 1px solid #2F8F9D !important;
  }
}

.cancel-btn {
  width: 48%;
  display: block;
  color: rgb(255, 255, 255) !important;
  background-color: #959595 !important;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #959595 !important;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    background-color: white !important;
    color: #959595 !important;
    border: 1px solid #959595 !important;
  }
}

.search-btn {
  background-color: #2F8F9D !important;
  width: 25%;
  border: none !important;

  &:hover {
    background-color:  #fff !important;
    color: #2F8F9D !important;
    transition-duration: .5s;
    border: 1px solid #2F8F9D !important;
  }
}

.login-btn input {
  width: 100%;
  display: block;
  color: white !important;
  background-color: rgb(58, 53, 53) !important;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgb(58, 53, 53) !important;
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    background-color: rgb(227, 227, 227) !important;
    color: rgb(58, 53, 53) !important;
    border: 1px solid rgb(58, 53, 53) !important;
  }
}
