.uni-card-image {
  height: 72px;
  width: 72px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
}

.card-info-light p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: light;
  color: rgb(115, 115, 115)
}
