.footer{
  width: 100%;
  height: 300px;
  background-color: #2F8F9D;
  padding-top: 72px;
}

.footer-content{
  text-align: center;
}

.footer-icon{
  color: #05414a;
  font-size: large;
  padding-left: 1em;

  &:hover{
  color: #076371;
  transition-duration: .5s;
  }
}

.text-white {
  color: white;
}

.icon-white {
  color: white;
}
