.decoration-none {
  text-decoration: none !important;
}

.home-link {
  text-decoration: none !important;
  color: black;

  &:hover {
    color: rgba(61, 59, 59, 0.8);
    transition-duration: .5s;
  }
}

.sign-up-link {
  text-decoration: none !important;
  color: rgb(162, 162, 162);

  &:hover {
    color: rgba(61, 59, 59, 0.8);
    transition-duration: .5s;
  }
}


.review-link {
  text-decoration: none !important;
  color: rgba(47, 143, 157, 0.7);

  &:hover {
    color: #2F8F9D;
    transition-duration: .5s;
  }
}
