.decoration-none {
  text-decoration: none !important;
}

.home-link {
  text-decoration: none !important;
  color: black;

  &:hover {
    color: rgba(61, 59, 59, 0.8);
    transition-duration: .5s;
  }
}

.sign-up-link {
  text-decoration: none !important;
  color: rgb(162, 162, 162);

  &:hover {
    color: rgba(61, 59, 59, 0.8);
    transition-duration: .5s;
  }
}

.sign-up-link-small {
  text-decoration: none !important;
  font-size: 14px;
  color: rgba(61, 59, 59, 0.8);
  font-weight: bolder;

  &:hover {
    color: rgb(42, 42, 42);
    transition-duration: .5s;
  }
}


.review-link {
  text-decoration: none !important;
  color: rgba(47, 143, 157, 0.7);

  &:hover {
    color: #2F8F9D;
    transition-duration: .5s;
  }
}

.next-action-link {
  text-decoration: none;
  font-size: 13px;

  &:hover {
    color: black;
    font-weight: bolder;
  }
}

.university-link {
  text-decoration: none !important;
  color: black;


  &:hover {
    transition-duration: .5s;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
  }
}

.disabled-link{
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: grey;
}
