.navbar-lewagon {
  transition: 0.3s background-color ease;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-fixed {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
