.review-font {
  font-size: 12px;
}

.review-font-small p {
  font-size: 10px;
}

.review-form {
  // border: 1px solid rgba($color: #a3a3a3, $alpha: 0.5);
  box-shadow: 2px 2px 10px rgb(182, 182, 182);
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 10px;
}

.text-color {
  color: rgb(61, 61, 61);
  font-size: 12px;

}

.text-grey {
  color: rgb(50, 50, 50);
}
