.side-nav-bar {
  text-decoration: none !important;
  color: #2F8F9D !important;
  background-color: rgb(238, 236, 236);

  &:hover {
    color: #35a3b4 !important;
    background-color: rgb(223, 223, 223);
    transition: 0.3s !important;
  }
}


.side-nav-menu-custom {
  width: 200px;
  height: 230px;
  position: fixed;
  top: 350px;
  font-size: 18px;
  z-index: 1;
  background: #eee;
  overflow-x: hidden;
  // padding: 10px 20px;
}
