

.text-small {
  font-size: 12px !important;
  padding: 2px 0;
}

.signup-header-font {
  font-family: $login-header-font;
  font-weight: bold;
  font-size: 32px;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url('login_page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: aqua;
}

.form-font {
  color: rgb(58, 53, 53);
}
