<div class="container pt-4">
  <div class="d-flex justify-content-between mt-5 my-4">
    <div class="d-flex">
      <div class="m-2 back_link">
        <%= link_to users_profile_path, class: "icon" do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      </div>
      <div class="d-flex align-items-center">
        <h5 class="mb-0 ms-2"><strong>Education</strong></h5>
      </div>
    </div>

    <span class="icon">
      <i class="fa-light fa-plus fa-2x" data-bs-toggle="modal" data-bs-target="#educationModal<%= @education_new.id %>"></i>
    </span>

    <%= render "users/education_modal", education: @education_new, universities: @universities, departments: @departments %>
  </div>

  <div class="margin-custom">
    <%= render "education_list", educations: @educations %>
  </div>


</div>
