<div class="card uni-index-card position-relative" >
  <h5 class="card-title text-center"><%= department.name %></h5>
  <p class="card-text text-left">
  <% department.courses.each do |course| %>
    <%= course.name %>
  <% end %>
  </p>
</div>
