<% universities.each do |university| %>
  <%= link_to university_path(university), class:"decoration-none text-secondary" do %>
    <li class="list" data-action="click->autocomplete#select"><%= university.name %></li>
  <% end %>
<% end %>
