<div class="container">
  <div class="row">
      <% @universities.each do |university| %>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 my-4 px-3">
           <%= link_to university_path(university) do %>
            <div class="card p-3 uni-index-card">
              <strong><%= university.name  %></strong><br>
              <%= university.reviews.count %> Reviews<br>
              <%# <p><%= university.description %></p> %>
            </div>
           <% end %>
        </div>
      <% end %>
  </div>
  <button type="button" class="btn btn-primary">Favourite</button>
</div>
